<!DOCTYPE html>
<head>
    {% if request.path == '/' %}
        <title>guesslist: a musical guessing game</title>
    {% else %}
        <title>
            {% block title %}
            {% endblock title %}
            - guesslist
        </title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Work+Sans">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='dist/output.css') }}" />
</head>
<body class="bg-slate-800 text-slate-100">
    <header class="bg-slate-950 mb-4">
        <nav class="max-w-xl mx-auto flex justify-between p-4">
            <h1 class="text-xl font-bold">
                <a href='{{ url_for("index.index") }}'>guesslist</a>
            </h1>
            <ul class="flex space-x-4">
                {% if g.user %}
                    <li>
                        <a href='{{ url_for("auth.logout") }}'>Log Out</a>
                    {% else %}
                    </li>
                    <li>
                        <a href='{{ url_for("auth.register") }}'>Register</a>
                    </li>
                    <li>
                        <a href='{{ url_for("auth.login") }}'>Log In</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main class="max-w-xl mx-auto bg-slate-800 p-4">
        {% block header %}
        {% endblock header %}
        {% for message in get_flashed_messages() %}
            <div class="border border-slate-400 rounded-lg p-4 mt-4">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock content %}
    </main>
</body>
