{% extends "base.html" %}
{% block content %}
    <!-- If logged-out -->
    {% if not g.user %}
        <h3 class="text-3xl font-bold underline">How it works</h3>
        <ol>
            <li>Create a club and invite your friends</li>
            <li>In each round, submit songs on a theme</li>
            <li>Guess who submitted each song, and track your points on the leaderboard</li>
        </ol>
        <ul>
            <li>
                <a href='{{ url_for("auth.register") }}'>Register</a>
            </li>
            <li>
                <a href='{{ url_for("auth.login") }}'>Log In</a>
            </li>
        </ul>
    {% endif %}
    <!-- If logged in but not in a club -->
    {% if g.user and not g.user['club_id'] %}
        <ul>
            <li>
                <a href='{{ url_for("club.create") }}'>Create a club</a>
            </li>
            <li>
                <a href='{{ url_for("club.join") }}'>Join a club</a>
            </li>
        </ul>
    {% endif %}
    <!-- If logged in and in a club -->
    {% if g.user and g.user['club_id'] %}
        <p class="font-light">Your club:</p>
        <h2 class="text-2xl font-bold mb-4">{{ club.name }}</h2>
        <!-- If club admin -->
        <ul class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0 mb-6">
            <li class="grow">
                <a class="btn-primary"
                   href="{{ url_for('club.leaderboard', id=club['id']) }}">Leaderboard</a>
            </li>
            {% if g.user['id'] == club['admin_id'] %}
                <li class="grow">
                    <a class="btn-primary"
                       href="{{ url_for('club.manage', id=club['id']) }}">Manage club</a>
                </li>
            {% endif %}
        </ul>
        {% if rounds %}
            <h3 class="text-xl font-bold mb-2">Rounds</h3>
            <ol class="list-decimal list-inside">
                {% for round in rounds %}
                    <a class="block" href="{{ url_for('round.view', id=round['id']) }}">
                        <li class="bg-slate-700 hover:bg-slate-600 p-4 mb-4 rounded-lg text-xl">
                            <h4 class="inline -ml-2">{{ round['name'] }}</h4>
                            <p class="text-base">{{ round['description'] }}</p>
                            <p class="text-sm text-right">{{ round['status'] }}</p>
                        </li>
                    </a>
                {% endfor %}
            </ol>
        {% endif %}
    {% endif %}
{% endblock content %}
