{% extends 'base.html' %} {% block content %} {% if g.user %} {% if g.user['club_id'] %}
<p>Your club: {{ club.name }}</p>
{% if g.user['id'] == club['admin_id'] %}
<ul>
	<li><a class="action" href="{{ url_for('club.update', id=club['id']) }}">Manage club</a></li>
	<li>Add round</li>
</ul>

{% endif %} {% else %} {% block round_content %} {% for round in rounds %}
<article class="club">
	<header>
		<div>
			<h3>{{ round['number'] }} {{ round['name'] }}</h3>
			<p>{{ round['description'] }}</p>
		</div>
		<!-- {% if g.user['id'] == club['admin_id'] %}
		<a class="action" href="{{ url_for('club.update', id=club['id']) }}">Manage</a>
		{% endif %} -->
	</header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}

<ul>
	<li>
		<a href="{{ url_for('club.create') }}">Create a club</a>
	</li>
	<li>
		<a href="{{ url_for('club.join') }}">Join a club</a>
	</li>
</ul>

{% endif %} {% else %}
<p>How it works</p>
<p>Register</p>
<p>Login</p>
{% endif %} {% endblock %}
