{% extends "base.html" %}
{% block header %}
    <a class="hover:underline" href='{{ url_for("index.index") }}'>← Back</a>
    <div class="my-4">
        <h1 class="text-2xl font-bold">
            {% block title %}
                {{ round['name'] }}
            {% endblock title %}
        </h1>
        <p>{{ round['description'] }}</p>
    </div>
{% endblock header %}
{% block content %}
    {% if round['status'] == "pending" %}
        <p>This round is not open yet.</p>
        {# {% if g.user['id'] == club['admin_id'] %}
            <a class="btn-primary"
               href="{{ url_for('round.update', id=round['id']) }}">Manage</a>
        {% endif %} #}
    {% endif %}
    {% if round['status'] == "open_for_songs" %}
        <p>{{ song_count }}/{{ club_users_count }} members have submitted a song</p>
    {% endif %}
    {% if round['status'] == "open_for_guesses" or round['status'] == "complete" %}
        <a class="btn-primary"
           href="{{ round['playlist_url'] }}"
           target="_blank">Listen to playlist</a>
    {% endif %}
    {% if (round['status'] == "open_for_songs" and user_song) or  round['status'] == "open_for_guesses" %}
        <div class="bg-slate-700 mb-4 p-4 rounded-lg mt-6">
            <h3 class="text-lg">You submitted:</h3>
            <div class="flex items-center mt-2 space-x-4">
                <div class="shrink-0">
                    <a href="https://open.spotify.com/track/{{ user_song['spotify_track_id'] }}"
                       target="_blank">
                        <img class="h-16 w-16"
                             src="{{ user_song['image_url'] }}"
                             alt='Cover artwork for {{ user_song["name"] }}'
                             width="100"
                             height="100" />
                    </a>
                </div>
                <div>
                    <div class="text-xl font-medium">{{ user_song["artist"] }}</div>
                    <p class="text-slate-200">{{ user_song["name"] }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if round['status'] == "open_for_songs" and not user_song %}
        <div class="bg-slate-700 mt-6 p-4 rounded-lg">
            <h3 class="text-xl font-bold mb-4">Submit your song</h3>
            <form action="{{ url_for('round.submit', id=round['id']) }}" method="post">
                <label class="text-lg" for="spotify_track_url">Spotify track URL</label>
                <input class="form-input w-full rounded-lg mt-2 text-slate-800"
                       name="spotify_track_url"
                       id="spotify_track_url"
                       value="{{ request.form['spotify_track_url'] }}"
                       required />
                <p class="text-xs mt-2">E.g. https://open.spotify.com/track/7igDDKaYTMkV5xbse143IW</p>
                <input class="btn-primary mt-4 w-full" type="submit" value="Submit" />
            </form>
        </div>
    {% endif %}
    {% if round['status'] == "open_for_guesses" %}
        <p>{{ guess_count }}/{{ club_users_count }} members have submitted their guesses</p>
        {% if user_guess %}
            <p>You have submitted your guesses</p>
        {% else %}
            <h3 class="text-xl mt-6">Submit your guesses</h3>
            <form id="guess-form"
                  action="{{ url_for('round.guess', id=round['id']) }}"
                  method="post">
                {% for song in songs_except_own %}
                    <div class="bg-slate-700 mt-4 p-4 rounded-lg">
                        <div class="flex items-center space-x-4">
                            <div class="shrink-0">
                                <a href="https://open.spotify.com/track/{{ song['spotify_track_id'] }}"
                                   target="_blank">
                                    <img class="h-16 w-16"
                                         src="{{ song['image_url'] }}"
                                         alt='Cover artwork for {{ song["name"] }}'
                                         width="100"
                                         height="100" />
                                </a>
                            </div>
                            <div>
                                <div class="text-xl font-medium">{{ song["artist"] }}</div>
                                <p class="text-slate-200">{{ song["name"] }}</p>
                            </div>
                        </div>
                        <fieldset class="guess-form__fieldset">
                            <input class="guess-form__input"
                                   type="hidden"
                                   name="song-id"
                                   value="{{ song['id'] }}" />
                            <label class="block mt-4 mb-2" for="user-id">Who submitted this?</label>
                            <select class="select w-full rounded-lg text-slate-800 guess-form__input"
                                    name="user-id">
                                <option class="text-slate-800" selected disabled>Select:</option>
                                {% for user in users %}
                                    {% if user['id'] != g.user['id'] %}<option class="text-slate-800">{{ user['username'] }}</option>{% endif %}
                                {% endfor %}
                            </select>
                            <label class="block mt-4 mb-2" for="comment">Comment</label>
                            <input class="form-input w-full text-slate-800 rounded-lg guess-form__input"
                                   type="text"
                                   name="comment" />
                            <input class="guess-form__input--all-values"
                                   type="hidden"
                                   name="{{ loop.index }}"
                                   value="" />
                        </fieldset>
                    </div>
                {% endfor %}
                <button class="btn-primary mt-6 w-full guess-form__button">Submit guesses</button>
            </form>
            <script type="text/javascript" src="/static/guess.js"></script>
        {% endif %}
    {% endif %}
    {% if round['status'] == "complete" %}
        <p class="my-4">Round complete!</p>
        {% for song in songs %}
            <div class="bg-slate-700 mb-4 p-4 rounded-lg">
                <div class="flex items-center space-x-4">
                    <div class="shrink-0">
                        <a href="https://open.spotify.com/track/{{ song['spotify_track_id'] }}"
                           target="_blank">
                            <img class="h-16 w-16"
                                 src="{{ song['image_url'] }}"
                                 alt='Cover artwork for {{ song["name"] }}'
                                 width="100"
                                 height="100" />
                        </a>
                    </div>
                    <div>
                        <div class="text-xl font-medium">{{ song["artist"] }}</div>
                        <p class="text-slate-200">{{ song["name"] }}</p>
                    </div>
                </div>
                <p class="mt-4">
                    Submitted by: <span class="font-bold">{{ song ["username"] }}</span>
                </p>
                <ul>
                    {% for guess in guesses %}
                        {% if guess['song_id'] == song['id'] %}
                            <li class="mt-6">
                                <div class="flex items-center justify-between">
                                    <p>
                                        <span class="font-bold">{{ guess.username }}</span> guessed <span class="font-bold">{{ guess.guess_username }}</span>
                                    </p>
                                    {% if guess['guess_user_id'] == song['user_id'] %}
                                        <div class="text-xl font-bold p-1 w-8 h-8 rounded-full text-center">+1</div>
                                    {% endif %}
                                </div>
                                {% if guess['comment'] %}<p class="italic">{{ guess.comment }}</p>{% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <h3 class="text-xl font-bold mt-10">Points for this round</h3>
        <table class="w-full text-left border-collapse border border-slate-600 mt-4">
            <tr class="bg-slate-700">
                <th class="font-normal border border-slate-600 p-2">Player</th>
                <th class="font-normal border border-slate-600 p-2 text-right w-16">Score</th>
            </tr>
            {% for user in round_points %}
                <tr>
                    <td class="border border-slate-600 p-2">{{ user['username'] }}</td>
                    <td class="border border-slate-600 p-2 text-right w-16">{{ user['points'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}
