{% extends 'base.html' %} 
{% block content %}
	<h1>{{ round['name'] }}</h1>
	<p>{{ round['description'] }}</p>

	{% if round['status'] == "pending" %}
	<p>This round is not open yet.</p>
	{% endif %}

	{% if round['status'] == "open_for_songs" %}
		<p>{{ song_count }}/{{ club_users_count }} members have submitted</p>
		<!-- If user has submitted -->
		<!-- Show submitted song -->
		{% if user_song %}
			<h3>You submitted:</h3>
			<img src="{{ user_song['image_url'] }}" alt="" width="100">
			<p><a href="http://open.spotify.com/track/{{ user_song['spotify_track_id'] }}">{{ user_song["artist"] }} - {{ user_song["name"] }}</a></p>
		{% endif %}

		<!-- If user has not submitted -->
		<!-- Show song submit form -->
		{% if not user_song %}
		<h3>Submit your song</h3>
		<form action="{{ url_for('round.submit', id=round['id']) }}"  method="post">
			<label for="spotify_track_url">Spotify track URL</label>
			<input name="spotify_track_url" id="spotify_track_url" value="{{ request.form['spotify_track_url'] }}" required />
			<p>E.g.</p>
			<p>https://open.spotify.com/track/7igDDKaYTMkV5xbse143IW</p>
			<p>https://open.spotify.com/track/4QQEzkxcONBthDLfzqIh9S?si=29b08f1ed89646f5</p>
			<input type="submit" value="Submit" />
		</form>
		{% endif %}
		
	{% endif %} <!-- round['status'] == "open_for_songs" -->

<!-- If current round and not all submissions received -->



	<!-- Show no of songs submitted / no of club members -->


	
<!-- If current round and all songs submitted -->


	<!-- Show songs and guess form -->

	{% if round['status'] == "open_for_guesses" %}
	<h3>Listen to playlist:</h3>
	<a href="{{ round['playlist_url']}}">Playlist link</a>

	<h3>Submit your guesses</h3>
	<form action="{{ url_for('round.guess', id=round['id']) }}" method="post">
	{% for song in songs %}
	<a href="http://open.spotify.com/track/{{ song['spotify_track_id'] }}">
		<img src="{{ song['image_url'] }}" alt="" width="100">
		<p>{{ song["artist"] }} - {{ song["name"] }}</p>
	</a>

	<fieldset>
		<label for="{{ song['id'] }}_userid">Who submitted this?</label>
		<select name="{{ song['id'] }}_userid" id="">
			<option selected disabled>Select:</option>
			{% for user in users %}
			<option>{{ user['username'] }}</option>
			{% endfor %}
		</select>
		<label for="{{ song['id'] }}_comment">Comment</label>
		<input type="text" name="{{ song['id'] }}_comment">
		<input type="hidden" name="{{loop.index}}" value="">

	</fieldset>

	<!-- TODO Add JS to combine input values for each song/fieldset into hidden input value? Then parse it in python -->
	

	{% endfor %}
	<input type="submit" value="Submit guesses" />
	</form>

	{% endif %}


	
	<!-- If all guesses submitted -->

		<!-- Show guesses, answers, comments, scores -->


{% endblock %}