{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Club
        {% endblock title %}
    </h1>
    {% if g.user %}
        <!-- {% if not clubs %} -->
        <a class="action" href='{{ url_for("club.create") }}'>New</a>
        <!-- {% endif %} -->
    {% endif %}
{% endblock header %}
{% block content %}
    {% for club in clubs %}
        <article class="club">
            <header>
                <div>
                    <h1>{{ club['name'] }}</h1>
                    <div class="about">Owned by {{ club['username'] }}</div>
                </div>
                {% if g.user['id'] == club['admin_id'] %}
                    <a class="action" href="{{ url_for('club.update', id=club['id'] }}">Manage</a>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}
    {% for round in rounds %}
        <article class="club">
            <header>
                <div>
                    <h3>{{ round['name'] }}</h3>
                    <p>{{ round['description'] }}</p>
                </div>
                <!-- {% if g.user['id'] == club['admin_id'] %}
		<a class="action" href="{{ url_for('club.update', id=club['id']) }}">Manage</a>
{% endif %} -->
            </header>
        </article>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock content %}
