{% extends "base.html" %}
{% block header %}
    <a href='{{ url_for("index.index") }}'>← Back</a>
    <h1 class="text-3xl mt-4">
        {% block title %}
            Leaderboard
        {% endblock title %}
    </h1>
    <p class="text-lg italic mt-4">{{ club.name }}</p>
{% endblock header %}
{% block content %}
    <table class="w-full text-left border-collapse border border-slate-600 mt-2">
        <tr class="bg-slate-700">
            <th class="border border-slate-600 font-normal  p-2">Player</th>
            <th class="border border-slate-600 font-normal p-2 w-16 text-right">Score</th>
        </tr>
        {% for user in users %}
            <tr>
                <td class="border border-slate-600 p-2">{{ user['username'] }}</td>
                <td class="border border-slate-600 p-2 w-16 text-right">{{ user['score'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
