{% extends "base.html" %}
{% block header %}
    <a class="hover:underline" href='{{ url_for("index.index") }}'>← Back</a>
    <h1 class="text-3xl mt-4">
        {% block title %}
            Manage club
        {% endblock title %}
    </h1>
    <p class="text-lg italic mt-2">{{ club['name'] }}</p>
{% endblock header %}
{% block content %}
    <div class="bg-slate-700 mt-4 p-4 rounded-lg">
        <h3 class="text-xl">Manage rounds</h3>
        <a class="btn-primary mt-4" href='{{ url_for("round.add") }}'>Add round</a>
    </div>
    <div class="bg-slate-700 mt-6 p-4 rounded-lg">
        <h3 class="text-xl mb-4">Rename club</h3>
        <form method="post">
            <label class="block mt-4" for="title">Club name</label>
            <input class="form-input w-full rounded-lg mt-2 text-slate-800"
                   name="name"
                   id="name"
                   placeholder="{{ club.name }}"
                   value="{{ request.form['name'] }}"
                   required />
            <input class="btn-primary w-full mt-6" type="submit" value="Save" />
        </form>
    </div>
    {# If restoring, need to update delete function to remove club_id from all users in club and reset score to zero
    <form action="{{ url_for('club.delete', id=club['id']) }}" method="post">
        <input class="danger"
               type="submit"
               value="Delete"
               onclick="return confirm('Are you sure?');" />
    </form>
     #}
{% endblock content %}
