{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Manage club
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    <p>{{ club['name'] }}</p>
    <form method="post">
        <label for="title">Club name</label>
        <input name="name" id="name" value="{{ request.form['name'] }}" required />
        <input type="submit" value="Save" />
    </form>
    {# If restoring, need to update delete function to remove club_id from all users in club and reset score to zero
    <form action="{{ url_for('club.delete', id=club['id']) }}" method="post">
        <input class="danger"
               type="submit"
               value="Delete"
               onclick="return confirm('Are you sure?');" />
    </form>
     #}
{% endblock content %}
